[submodule "YouTubeExtractor"]
	path = lib/YoutubeExtractor
	url = https://github.com/kimmax/YoutubeExtractor
[submodule "src/SYMM Frontend Console"]
	path = src/SYMM Frontend Console
	url = https://github.com/di48l069/Flash-dl.git
	branch = master
